:root {
    --clr-dark: #312e81;
    --clr-light: #eef2ff;
    --clr-p-anchor: #585bee /*#6366f1*/;
    --clr-card-bg: #E0E7FF;
  
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
  
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

.dark-mode {
    --clr-light: #1e1b4b;
    --clr-dark: #eef2ff;
    --clr-p-anchor: #e0e7ff;
    --clr-card-bg: #312e81;
  }

body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

input, textarea {
    color: #312e81;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

p a {
    color: var(--clr-p-anchor);
}

a {
    color: var(--clr-dark);
}

strong {
    color: var(--clr-dark);
}