:root {
    --clr-dark: #312e81;
    --clr-light: #eef2ff;
    --clr-light-a0: #eef2ff00;
    --clr-light-a05: #eef2ff89;
    --clr-p-anchor: #585bee;
    --clr-card-bg: #E0E7FF;
    --clr-overlay: #000;
  
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

.dark-mode {
    --clr-dark: #eef2ff;
    --clr-light: #1e1b4b;
    --clr-light-a0: #1e1b4b00;
    --clr-light-a05: #1e1b4b89;
    --clr-p-anchor: #e0e7ff;
    --clr-card-bg: #312e81;
    --clr-overlay: #fff;
}
  
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

input, textarea, select {
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 6px;
    color: var(--clr-dark);
    padding-inline-start: 0.25em;
    padding-inline-end: 0.25em;
}

/* Overriding browser's default outline black color of the input/textarea fields when on focus */
input:focus, textarea:focus, select:focus {
    outline: var(--clr-dark) solid 1.5px;
}

/* Overriding chrome's default styling for the autofilled input and textarea fields */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--clr-light) inset !important;
    -webkit-text-fill-color: var(--clr-dark) !important;
    border: 1px solid var(--clr-dark);
}

img,
picture {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

p a {
    color: var(--clr-p-anchor);
}

a {
    color: var(--clr-dark);
}

strong {
    color: var(--clr-dark);
}