{% extends "courses_platform/layout.html" %}

{% load static %}

{% block link %}
    <link href="{% static 'courses_platform/pages/create_course.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'courses_platform/pages/create_course.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="createcourse-form my-container">
        <h1 class="createcourse-form__title">Create a course</h1>
        <!--The enctype attribute specifies how the form-data should be encoded when submitting it to the server.
        multipart/form-data is necessary if the user will upload a file through the form-->
        <form action="{% url 'create_course' %}" method="post" enctype='multipart/form-data' class="createcourse-form__body">
            {% csrf_token %}
            <label for="id_title" class="createcourse-form__label">Title *</label>
            <p class="createcourse-form__info-text">Should not exceed 80 characters (min 10 characters)</p>
            {{ createCourseForm.title }}

            <div class="createcourse-form__field-grp">
                <div>
                    <label for="id_image" class="createcourse-form__label">Image</label>
                    <p class="createcourse-form__info-text">Preferably an aspect ratio of 2/3</p>
                    {{ createCourseForm.image }}
                </div>
                <div>
                    <label for="id_category" class="createcourse-form__label">Category *</label>
                    <p class="createcourse-form__info-text">Specify the course's category</p>
                    {{ createCourseForm.category }}
                </div>
            </div>

            <label for="id_short_description" class="createcourse-form__label">Short Description *</label>
            <p class="createcourse-form__info-text">Should not exceed 200 characters (min 50 characters)</p>
            {{ createCourseForm.short_description }}

            <label for="id_long_description" class="createcourse-form__label">About this course *</label>
            <p class="createcourse-form__info-text">This is a detailed explanation of the course's content. 
                You can write in markdown language. Should not exceed 2000 characters (min 200 characters)</p>
            {{ createCourseForm.long_description }}
            
            <div class="createcourse-form__field-grp">
                <div>
                    <label for="id_duration" class="createcourse-form__label">Duration *</label>
                    <p class="createcourse-form__info-text">Assuming the student will study 6-8 hrs per week, how many weeks does the course take? (min 2, max 24 weeks)</p>
                    <div>
                        {{ createCourseForm.duration }} <span class="createcourse-form__input-aside-txt">weeks</span>
                    </div>
                </div>
                <div>
                    <label for="id_language" class="createcourse-form__label">Language *</label>
                    <p class="createcourse-form__info-text">In what language will the course be taught?</p>
                    {{ createCourseForm.language }}
                </div>
            </div>

            <div class="createcourse-form__field-grp">
                <div>
                    <label for="id_level" class="createcourse-form__label">Level *</label>
                    <p class="createcourse-form__info-text">Select the difficulty level of the course</p>
                    {{ createCourseForm.level }}
                </div>
                <div>
                    <label for="id_prerequisite" class="createcourse-form__label">Prerequisite</label>
                    <p class="createcourse-form__info-text">Is one of your courses a prerequisite for that course?</p>
                    <select name="prerequisite" id="id_prerequisite" class="createcourse-form__input">
                        <option value="" selected>Select course</option>
                        {% for course in user.courses_taught.all %}
                            <option value="{{ course.id }}">{{ course.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <label for="id_certificate" class="createcourse-form__label">Certificate</label>
            <p class="createcourse-form__info-text">Check the box if there is a certicate provided upon completion of the course</p>
            <div class="createcourse-form__checkbox-grp">
                {{ createCourseForm.certificate }} <span class="createcourse-form__input-aside-txt">Yes, a certificate will be provided</span>
            </div>

            <hr class="createcourse-form__hr">
            <h2 class="createcourse-form__h2-title">Create a Quiz</h2>

            <label for="id_passing_grade" class="createcourse-form__label">Passing Grade *</label>
            <p class="createcourse-form__info-text">Please specify the passing grade in percentage (min 50, max 100)</p>
            <div>
                {{ createCourseForm.passing_grade }} <span class="createcourse-form__input-aside-txt">%</span>
            </div>
            

            <h3 class="createcourse-form__quiz-heading">Questions</h3>
            
            <div id="quiz-container">
                {% if get_request %}
                    <div class="createcourse-form__quiz-quest-cont">
                        <label for="id_question_body" class="createcourse-form__label createcourse-form__label-quest-body">Question Body *</label>
                        <textarea name="question_body" id="id_question_body" class="createcourse-form__input createcourse-form__input-text-area" required minlength="10"></textarea>

                        <label for="id_options" class="createcourse-form__label">Options *</label>
                        <p class="createcourse-form__info-text">The options must be seperated by a comma. e.g.: option 1, option 2, option 3. Use " \, " if you want to use a comma that is not meant to seperate options</p>
                        <textarea name="options" id="id_options" class="createcourse-form__input createcourse-form__input-text-area" required></textarea>

                        <label for="id_correct_option" class="createcourse-form__label">Correct Option *</label>
                        <p class="createcourse-form__info-text">Specify the index of the correct option. (i.e. If the first option is the correct one, you should write 1)</p>
                        <input name="correct_option" inputmode="numeric" type="number" pattern="[0-9]+"  id="id_correct_option" class="createcourse-form__input" required></input>
                    </div>
                {% else %}
                    {% for i, question, options, correct_option in quiz_data %}
                        <div class="createcourse-form__quiz-quest-cont">
                            {% if i != 0 %}
                                <button title="Delete question" type="button" id="quiz-quest-del-btn" class="createcourse-form__quiz-del-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="createcourse-form__icon" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </button>
                            {% endif %}
                            <label for="id_question_body" class="createcourse-form__label createcourse-form__label-quest-body">Question Body *</label>
                            <textarea name="question_body" id="id_question_body" class="createcourse-form__input createcourse-form__input-text-area" required minlength="10">{{ question }}</textarea>
        
                            <label for="id_options" class="createcourse-form__label">Options *</label>
                            <p class="createcourse-form__info-text">The options must be seperated by a comma. e.g.: option 1, option 2, option 3. Use " \, " if you want to use a comma that is not meant to seperate options</p>
                            <textarea name="options" id="id_options" class="createcourse-form__input createcourse-form__input-text-area" required>{{ options }}</textarea>
        
                            <label for="id_correct_option" class="createcourse-form__label">Correct Option *</label>
                            <p class="createcourse-form__info-text">Specify the index of the correct option. (i.e. If the first option is the correct one, you should write 1)</p>
                            <input name="correct_option" inputmode="numeric" type="number" pattern="[0-9]+" value="{{ correct_option }}" id="id_correct_option" class="createcourse-form__input" required></input>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <template>
                <div class="createcourse-form__quiz-quest-cont">
                    <button title="Delete question" id="quiz-quest-del-btn" class="createcourse-form__quiz-del-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="createcourse-form__icon" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </button>
                    <label for="id_question_body" class="createcourse-form__label createcourse-form__label-quest-body">Question Body *</label>
                    <textarea name="question_body" id="id_question_body" class="createcourse-form__input createcourse-form__input-text-area" required minlength="10"></textarea>

                    <label for="id_options" class="createcourse-form__label">Options *</label>
                    <p class="createcourse-form__info-text">The options must be seperated by a comma. e.g.: option 1, option 2, option 3. Use " \, " if you want to use a comma that is not meant to seperate options</p>
                    <textarea name="options" id="id_options" class="createcourse-form__input createcourse-form__input-text-area" required></textarea>

                    <label for="id_correct_option" class="createcourse-form__label">Correct Option *</label>
                    <p class="createcourse-form__info-text">Specify the index of the correct option. (i.e. If the first option is the correct one, you should write 1)</p>
                    <input name="correct_option" inputmode="numeric" type="number" pattern="[0-9]+"  id="id_correct_option" class="createcourse-form__input" required></input>
                </div>
            </template>
            
            <div class="createcourse-form__btn-cont">
                <button type="button" id="add-question-btn" class="createcourse-form__add-quest-btn custom-button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="createcourse-form__icon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                    <span>Add a question</span>
                </button>
                <input class="createcourse-form__publish-btn custom-button" type="submit" value="Publish Course">
            </div>  
        </form>
    </div>
{% endblock %}
