{% extends "courses_platform/user_profile_layout.html" %}

{% load static %}

{% block followingLink %}
    <link href="{% static 'courses_platform/pages/instructor_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'courses_platform/pages/instructor_profile.js' %}"></script>
{% endblock %}

{% block followingBody %}
    <section>
        <h2 class="profile__h2 i-profile__h2">{{ current_user.courses_taught.count }} Courses Taught</h2>
        {% if current_user == user %}
        <div class="i-profile__btn-cont">
            <a class="custom-button i-profile__add-btn" href="{% url 'create_course' %}">
                <svg class="i-profile__icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
                <span>New course</span>
            </a>
        </div>
        {% endif %}
        <div class="course-card__cards-grid-wrapper">
            <div class="course-card__cards-grid">
               {% for course in current_user.courses_taught.all %}
                  <a href="{% url 'course_page' course.id %}" class="course-card__card-anchor">
                     <div class="course-card__card">
                     {% if not course.image %}
                        <img class="course-card__card-img" src="/media/courses_images/default_img.jpg" alt="Course's image">
                     {% else %}
                        <img class="course-card__card-img" src="{{ course.image.url }}" alt="Course's image">
                     {% endif %}
                        <div class="course-card__card-title">{{ course.title }}</div>
                        <div class="course-card__card-description">
                           <div class="course-card__card-duration">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="course-card__icon" viewBox="0 0 16 16">
                                 <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                 <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                 <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                              </svg>
                              <span>{{ course.duration }} weeks</span>
                           </div>
                           <div class="course-card__card-level">Level: {{ course.get_level_display }}</div>
                        </div>
                     </div>
                  </a>
               {% endfor %}
            </div>
         </div>
         <div class="i-profile__course-display-btn-cont">
            <button id="show-all-courses" class="i-profile__course-display-btn">See all courses taught by {{ current_user.username }}</button>
            <button id="show-less-courses" class="i-profile__course-display-btn">See less courses</button>
         </div>
    </section>
{% endblock %}