{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'courses_platform/modern-normalize.css' %}" rel="stylesheet">
    <link href="{% static 'courses_platform/styles.css' %}" rel="stylesheet">
    <link href="{% static 'courses_platform/components/layout.css' %}" rel="stylesheet">
    <link href="{% static 'courses_platform/components/mobile-nav.css' %}" rel="stylesheet">
    <link href="{% static 'courses_platform/components/messages.css' %}" rel="stylesheet">
    {% block link %}
    {% endblock %}
    <link href="{% static 'courses_platform/utils.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
    <script src="{% static 'courses_platform/components/mobile-nav.js' %}"></script>
    <script src="{% static 'courses_platform/components/messages.js' %}"></script>
    <script src="{% static 'courses_platform/components/dark-mode.js' %}"></script>
</head>
<body>
    <header class="header my-container">
        <nav class="header__nav">
            <div>
                <a class="header__logo" href="{% url 'index' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="header__icon" viewBox="0 0 16 16">
                        <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                        <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
                    </svg>
                    <span class="header__platform-name" title="Go back to main page">CourseMedia</span>
                </a>
            </div>
            <ul class="header__menu">
                {% if request.path != '/allCourses' %}
                <li>
                    <a class="header__link" href="{% url 'all_courses' %}">All Courses</a>
                </li>
                {% endif %} 
                {% if request.path == '/' %}
                <li>
                    <a class="header__link" href="#about-us">About Us</a>
                </li>
                {% endif %} 
                <li>
                    <button class="header__btn-theme-toggle" id="theme-toggle">
                        <svg id="theme-toggle-moon" class="header__icon header__theme-toggle" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                        </svg>
                        <svg id="theme-toggle-sun" class="header__icon header__theme-toggle" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                        </svg>
                    </button>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="header__link header__icon-text-cont" href="{% url 'user_profile' user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="header__icon" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Profile
                        </a>
                    </li>
                    <li class="header__logout">
                        <a class="header__link header__icon-text-cont" href="{% url 'logout' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="header__icon" viewBox="0 0 16 16">
                                <path d="M7.5 1v7h1V1h-1z"/>
                                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                            </svg>
                            Log Out
                        </a>
                    </li>
                {% else %}
                    {% if request.path not in '"/", "/signin", "/signup"' %}
                    <li>
                        <a class="header__link" href="{% url 'signin' %}">
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a class="header__link" href="{% url 'signup' %}">
                            Sign up
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
            <button id="header-bars" class="header__bars">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="header__icon" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
        </nav>
    </header>
    <!-- Mobile Navigation -->
    <div id="mobile-navigation" class="mobile-nav">
        <nav>
            <button id="mobile-nav-close-btn" class="mobile-nav__close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="mobile-nav__icon" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
            <h1 class="mobile-nav__title">
                Menu
            </h1>
            <ul class="mobile-nav__menu">
                {% if user.is_authenticated %}
                <li>
                    <a class="mobile-nav__link mobile-nav__profile" href="{% url 'user_profile' user.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="mobile-nav__icon" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <span>Profile</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="mobile-nav__link" href="{% url 'signin' %}">Sign In | </a>
                    <a class="mobile-nav__link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
                {% if request.path != '/allCourses' %}
                <li>
                    <a class="mobile-nav__link" href="{% url 'all_courses' %}">All Courses</a>
                </li>
                {% endif %}
                {% if request.path == '/' %}
                <li>
                    <a class="mobile-nav__link" href="#about-us">About Us</a>
                </li>
                {% endif %}
                <li class="mobile-nav__line"></li>
                <li>
                    <button id="theme-toggle">
                        <svg id="theme-toggle-moon" class="mobile-nav__icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 16 16">
                            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                        </svg>
                        <svg id="theme-toggle-sun" class="mobile-nav__icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                        </svg>
                    </button>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="mobile-nav__link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- End of Mobile Navigation -->

    {% include 'courses_platform/includes/messages.html' %}

    <div class="content">
    {% block body %}
    {% endblock %}
    </div>

    <footer class="my-container footer">
        <div class="footer__first-cont">
            <div>For any inquiries:</div>
            <div>coursemedia@gmail.com</div>
        </div>
        <div class="footer__second-cont">
            <div class="footer__sub-cont">
                <div><strong>Main office</strong></div>
                <div>
                   <div>123 Anywhere St.</div>
                   <div>City, Country</div>
                   <div>(123) 456 7890</div>
                </div>
             </div>
             <div class="footer__sub-cont">
                <div><strong>Legal</strong></div>
                 <a class="footer__a" href="#">Terms & Conditions</a>
                 <a class="footer__a" href="#">Privacy Policy</a>
                 <a class="footer__a" href="#">Company Details</a>
             </div>
        </div>
    </footer>
</body>
</html>