{% extends "courses_platform/layout.html" %}

{% load static %}

{% block link %}
    <link href="{% static 'courses_platform/pages/password_reset.css' %}" rel="stylesheet">
    <link href="{% static 'courses_platform/pages/password_reset_confirm.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="my-container password-reset__cont">
        <h1 class="password-reset__h1">Password Reset Confirmation</h1>
        <form method="post" class="password-reset__form">
            {% csrf_token %}
            <div class="password-reset__label-input-cont">
                {% for field in form %}
                <div class="password-reset-confirm__label-input-subgrp">
                    {{ field.label_tag }} 
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <div>
              <input type="submit" value="Reset password" class="custom-button password-reset-confirm__btn">
            </div>
        </form>
    </div>
{% endblock %}