{% extends "courses_platform/user_profile_layout.html" %}

{% load static %}

{% block followingLink %}
    <link href="{% static 'courses_platform/pages/student_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block followingBody %}
    <section class="s-profile__courses-section">
        {% if passed_courses|length == 0 %}
            <h2 class="profile__h2">No Completed Courses Yet</h2>
        {% else %}
            <h2 class="profile__h2">{{passed_courses|length}} Completed Courses</h2>
            <div class="s-profile__txt-cont">
                {% for course in passed_courses|slice:":2" %}
                <div class="s-profile__course-cont">
                    <div>
                        <svg class="s-profile__icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                        </svg>
                    </div>
                    <a href="{% url 'course_page' course.id %}">{{ course.title }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="course-card__cards-grid-wrapper s-profile__courses-cards" style="display: none;">
                <div class="course-card__cards-grid">
                {% for course in passed_courses|slice:":2" %}
                    <a href="{% url 'course_page' course.id %}" class="course-card__card-anchor">
                        <div class="course-card__card">
                        {% if not course.image %}
                            <img class="course-card__card-img" src="/media/courses_images/default_img.jpg" alt="Course's image">
                        {% else %}
                            <img class="course-card__card-img" src="{{ course.image.url }}" alt="Course's image">
                        {% endif %}
                            <div class="course-card__card-title">{{ course.title }}</div>
                            <div class="course-card__card-description">
                            <div class="course-card__card-duration">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="course-card__icon" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                <span>{{ course.duration }} weeks</span>
                            </div>
                            <div class="course-card__card-level">Level: {{ course.get_level_display }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            {% if passed_courses|length > 2 %}
                <a class="s-profile__a" href="{% url 'completed_courses' current_user.id %}">See all completed courses</a>
            {% endif %}
        {% endif %}
    </section>

    <hr class="profile__hr">
    
    <section class="s-profile__courses-section">
        {% if enrolled_not_passed_courses|length == 0 %}
            <h2 class="profile__h2">No Enrolled Courses Yet</h2>
        {% else %}
            <h2 class="profile__h2">Currently Enrolled in {{ enrolled_not_passed_courses|length }} Courses</h2>
            <div class="s-profile__txt-cont">
            {% for course in enrolled_not_passed_courses|slice:":2" %}
                <div class="s-profile__course-cont">
                    <div>
                        <svg class="s-profile__icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                        </svg>
                    </div>
                    <a href="{% url 'course_page' course.id %}">{{ course.title }}</a>
                </div>
            {% endfor %}
            </div>
            <div class="course-card__cards-grid-wrapper s-profile__courses-cards" style="display: none;">
                <div class="course-card__cards-grid">
                {% for course in enrolled_not_passed_courses|slice:":2" %}
                    <a href="{% url 'course_page' course.id %}" class="course-card__card-anchor">
                        <div class="course-card__card">
                        {% if not course.image %}
                            <img class="course-card__card-img" src="/media/courses_images/default_img.jpg" alt="Course's image">
                        {% else %}
                            <img class="course-card__card-img" src="{{ course.image.url }}" alt="Course's image">
                        {% endif %}
                            <div class="course-card__card-title">{{ course.title }}</div>
                            <div class="course-card__card-description">
                            <div class="course-card__card-duration">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="course-card__icon" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                <span>{{ course.duration }} weeks</span>
                            </div>
                            <div class="course-card__card-level">Level: {{ course.get_level_display }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            {% if enrolled_not_passed_courses|length > 2 %}
                <a class="s-profile__a" href="{% url 'enrolled_courses' current_user.id %}">See all currently enrolled courses</a>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}