{% extends "courses_platform/layout.html" %}

{% load static %}

{% block link %}
    <link href="{% static 'courses_platform/components/course-cards.css' %}" rel="stylesheet">
    <link href="{% static 'courses_platform/components/user_profile_layout.css' %}" rel="stylesheet">
    {% block followingLink %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="my-container profile__cont">
        <section class="profile__first-section">
            <div class="profile__icon-descrip-cont">
                <svg class="profile__profile-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <div class="profile__descrip-cont">
                    <div class="profile__name-cont">
                        <div>{{current_user.first_name}} {{current_user.last_name}}</div>
                        {% if current_user.role == current_user.STUDENT and current_user.courses_passed.count > 2 %}
                        <div class="profile__reward-icon-cont" title="This is granted for completing 2+ courses">
                            <svg class="profile__reward-icon" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                            </svg>
                        </div>
                        {% elif current_user.role == current_user.INSTRUCTOR and total_nb_students_enrolled > 4 %}
                        <div class="profile__reward-icon-cont" title="This is granted for having 4+ enrolled students">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M4.1 38.2C1.4 34.2 0 29.4 0 24.6C0 11 11 0 24.6 0H133.9c11.2 0 21.7 5.9 27.4 15.5l68.5 114.1c-48.2 6.1-91.3 28.6-123.4 61.9L4.1 38.2zm503.7 0L405.6 191.5c-32.1-33.3-75.2-55.8-123.4-61.9L350.7 15.5C356.5 5.9 366.9 0 378.1 0H487.4C501 0 512 11 512 24.6c0 4.8-1.4 9.6-4.1 13.6zM80 336a176 176 0 1 1 352 0A176 176 0 1 1 80 336zm184.4-94.9c-3.4-7-13.3-7-16.8 0l-22.4 45.4c-1.4 2.8-4 4.7-7 5.1L168 298.9c-7.7 1.1-10.7 10.5-5.2 16l36.3 35.4c2.2 2.2 3.2 5.2 2.7 8.3l-8.6 49.9c-1.3 7.6 6.7 13.5 13.6 9.9l44.8-23.6c2.7-1.4 6-1.4 8.7 0l44.8 23.6c6.9 3.6 14.9-2.2 13.6-9.9l-8.6-49.9c-.5-3 .5-6.1 2.7-8.3l36.3-35.4c5.6-5.4 2.5-14.8-5.2-16l-50.1-7.3c-3-.4-5.7-2.4-7-5.1l-22.4-45.4z"/></svg>
                        </div>
                        {% endif %}
                    </div>
                    <div class="profile__desc-txt">
                        {% if current_user.role == current_user.STUDENT %}
                            Member since {{current_user.date_joined|date:"F Y"}}
                        {% else %}
                            {{current_user.instructor_title}}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if current_user == user %}
                <a class="custom-button profile__edit-btn-side" href="{% url 'edit_profile' %}">Edit Profile</a>
            {% endif %}
        </section>
        <section class="profile__about-cont">
            <h2 class="profile__h2">About me</h2>
            <p class="profile__p">{{current_user.about}}</p>
            {% if current_user == user %}
                <a class="custom-button profile__edit-btn-bottom" href="{% url 'edit_profile' %}">Edit Profile</a>
            {% endif %}
        </section>
        <hr class="profile__hr">
        {% block followingBody %}
        {% endblock %}
    </div>
{% endblock %}