.edit-profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    margin-block-start: 2em;
    margin-block-end: 2em;
}

.edit-profile-form__h1 {
    font-size: var(--size-2xl);
}

.edit-profile-form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile-form__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    gap: 2em;
}

.edit-profile-form__label {
    font-size: var(--size-xl);
    white-space: nowrap;
}

.edit-profile-form__input {
    font-size: var(--size-xl);
    height: fit-content;
}

.edit-profile-form__input:disabled {
    background-color: var(--clr-bg-disabled-input);
    color: var(--clr-txt-disabled-input);
}

.edit-profile-form__input_textarea {
    height: 4em;
    resize: none;
}

.edit-profile-form__btn {
    margin-block-start: 2em;
    font-size: var(--size-xl);
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .edit-profile-form__h1 {
        font-size: var(--size-3xl);
    }
    .edit-profile-form__label {
        font-size: var(--size-2xl);
    }
    
    .edit-profile-form__input {
        font-size: var(--size-2xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .edit-profile-form__h1 {
        font-size: var(--size-4xl);
        margin-block-end: 1.25em;
    }

    .edit-profile-form__btn {
        font-size: var(--size-2xl);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    .edit-profile-form__h1 {
        font-size: var(--size-5xl);
    }

    .edit-profile-form__label {
        font-size: var(--size-3xl);
    }
    
    .edit-profile-form__input {
        font-size: var(--size-3xl);
    }
}