.index {
    margin-block-start: 2em;
}

.index__greetings {
    font-size: var(--size-3xl);
}

.index__signup {
    font-size: var(--size-2xl);
    margin-block-end: 0.2em;
}

.index__signin {
    font-size: var(--size-lg);
}

.index__anchor {
    color: var(--clr-p-anchor);
}

.index__hr {
    margin-block-start: 2em;
    margin-block-end: 1em;
    border-color: var(--clr-dark);
    opacity: 0.33;
}

.index__h1 {
    font-size: var(--size-3xl);
    font-weight: bold;
    text-align: center;
    margin-block-end: 1em;
}

.index__btn {
    display: flex;
    justify-content: center;
    margin-block-start: 1.5em;
    font-size: var(--size-lg);
}

.index__p {
    font-size: var(--size-lg);
    text-align: justify;
}

.index__icon-cont {
    display: flex;
    justify-content: center;
    font-size: var(--size-4xl);
    gap: 1em;
}

.index__icon {
    height: 1em;
}

.index__footer {
    margin-block-start: 2em;
    margin-block-end: 2em;
    display: flex;
    gap: 1em;
    font-size: var(--size-sm);
}

.index__address {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.index__mail {
    flex: 1;
    text-align: right;
}



/* xs */
@media (min-width: 475px) {
    .index__btn {
        font-size: var(--size-xl);
    }
}

/* sm */
@media (min-width: 640px) {
    .index__signup {
        font-size: var(--size-3xl);
    }
    
    .index__signin {
        font-size: var(--size-xl);
    }

    .index__h1 {
        font-size: var(--size-4xl);
    }

    .index__btn {
        font-size: var(--size-2xl);
    }

    .index__p {
        font-size: var(--size-xl);
    }

    .index__icon-cont {
        font-size: var(--size-5xl);
    }

    .index__footer {
        font-size: var(--size-base);
    }
} 

/* lg */
@media (min-width: 1024px) {
    .index__greetings {
        font-size: var(--size-4xl);
    }

    .index__h1 {
        font-size: var(--size-5xl);
    }

    .index__footer {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .index__signup {
        font-size: var(--size-4xl);
    }
    
    .index__signin {
        font-size: var(--size-2xl);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .index__greetings {
        font-size: var(--size-5xl);
    }

    .index__signup {
        font-size: var(--size-5xl);
    }
    
    .index__signin {
        font-size: var(--size-3xl);
    }
    .index__h1 {
        font-size: var(--size-6xl);
    }

    .index__btn {
        font-size: var(--size-4xl);
    }

    .index__p {
        font-size: var(--size-4xl);
    }
    .index__icon-cont {
        font-size: var(--size-8xl);
    }
    .index__footer {
        font-size: var(--size-2xl);
    }
}