.password-reset__h1 {
    text-align: center;
}

.password-reset__label-input-cont {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.password-reset-confirm__label-input-subgrp {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.password-reset-confirm__btn {
    font-size: var(--size-lg);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .password-reset-confirm__btn {
        font-size: var(--size-xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .password-reset-confirm__btn {
        font-size: var(--size-2xl);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    .password-reset-confirm__btn {
        font-size: var(--size-3xl);
    }
}