.password-reset__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 1em;
    gap: 1.5em;
}

.password-reset__h1 {
    font-size: var(--size-3xl);
}

.password-reset__p {
    font-size: var(--size-lg);
}

.password-reset__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-reset__label-input-cont {
    font-size: var(--size-lg);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    margin-block-end: 1.5em;
}

.password-reset__btn-anchor-cont {
    display: flex;
    align-items: center;
    font-size: var(--size-lg);
    gap: 1em;
}

.password-reset__a {
    color: rgb(237, 83, 83);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .password-reset__h1 {
        font-size: var(--size-4xl);
    }
    
    .password-reset__p {
        font-size: var(--size-xl);
    }

    .password-reset__label-input-cont {
        font-size: var(--size-xl);
    }
    
    .password-reset__btn-anchor-cont {
        font-size: var(--size-xl);
    }
}

/* md */
@media (min-width: 768px) {
    .password-reset__cont {
        margin-block-start: 2.5em;
        gap: 3em;
    }
}

/* lg */
@media (min-width: 1024px) {
    .password-reset__p {
        font-size: var(--size-2xl);
    }

    .password-reset__label-input-cont {
        font-size: var(--size-2xl);
    }
    
    .password-reset__btn-anchor-cont {
        font-size: var(--size-2xl);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    .password-reset__h1 {
        font-size: var(--size-5xl);
    }

    .password-reset__p {
        font-size: var(--size-3xl);
    }

    .password-reset__label-input-cont {
        font-size: var(--size-3xl);
    }
    
    .password-reset__btn-anchor-cont {
        font-size: var(--size-3xl);
    }
}