.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    margin-block-end: 2em;
}

.signup-form__title {
    font-size: var(--size-2xl);
    font-weight: 600;
    text-align: center;
    margin-block-start: 1em;
}

.signup-form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    gap: 2em;
}

.signup-form__label{
    font-size: var(--size-xl);
    white-space: nowrap;
}

.signup-form__conf-pass-label {
    white-space: normal;
}

.signup-form__input {
    font-size: var(--size-xl);
    height: fit-content;
}

.signup-form__input-red-border {
    border: 3px solid #db555b;
}

.signup-form__input_textarea {
    height: 4em;
    resize: none;
}

.hidden-element {
    display: none;
}

.signup-form__btn {
    margin-block-start: 2em;
    font-size: var(--size-xl);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .signup-form__title {
        font-size: var(--size-3xl);
    }
    .signup-form__label{
        font-size: var(--size-2xl);
    }
    .signup-form__input{
        font-size: var(--size-2xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .signup-form__title {
        font-size: var(--size-4xl);
        margin-block-end: 1.25em;
    }
    .signup-form__btn {
        margin-block-start: 2em;
        font-size: var(--size-2xl);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */